root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.ps1]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.{c,h,cpp,hpp,sv}]
indent_style = space
indent_size = 4

[*.{md,json,yml,yaml,scad}]
indent_style = space
indent_size = 2
